# Firebase configuration (Managed by CLI/CI)
lib/firebase_options.dart

# Dependencies
node_modules/
functions/node_modules/
functions/lib/
.dart_tool/
.packages
.pub-cache/
.pub/

# Build outputs
build/
*.log
functions/npm-debug.log*

# OS/IDE metadata
.DS_Store
.vscode/
.idea/